.range {
    margin: 0 0 0 5px;
    color: #fff !important;
}

.hex-input {
margin: 0 5px 0 0;
}

.rgb-input {
margin: 0 5px;
}

.hex-input input[type=text]{
    width:100%;
    color: #000;
    background-color: rgba(255, 255, 255, 0.61);
    padding:8px;
  
    border: none;
    border-radius:4px;
    outline:none;
    box-sizing:border-box;
    transition:.3s;
}
  
.hex-input input[type=text]:focus{
    box-shadow:0 0 8px 0 #045de9;
}

.rgb-input input[type="color"] {
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    padding: 0;

    border-radius: 4px;
    border: 3px solid transparent;
    transition:.3s;
}
.rgb-input input[type=color]:focus{
    box-shadow:0 0 8px 0 #045de9;
}
.rgb-input input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
.rgb-input input[type="color"]::-webkit-color-swatch {
    border: none;
}